<div class="h-screen bg-gradient-to-r from-blue-dark to-blue-light">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="p-6 text-white">Logo + Text</div>
            <div class="p-6 text-white">
                <a href="/api/logout">Logout</a>
            </div>
        </div>
        <div class="container">
            <div class="grid grid-cols-1 items-center justify-center content-center gap-y-8">
                <div class="justify-center text-center font-incosolata text-white text-5xl">
                    Hi {{name}}!
                </div>
                {{#if online.online}}
                <div class="justify-center text-center font-work-sans text-white">
                    You already have a session in progress. Click below to rejoin that session.
                </div>
                <div class="lg:space-x-4 justify-around text-center">
                    <a href="/session/{{online.id}}">
                        <button type="button"
                            class="lg:mb-0 mb-10 border-white text-white font-bold py-2 px-4 rounded-full w-44 border-2 hover:bg-green-spotify">
                            REJOIN
                        </button>
                    </a>
                </div>
                {{else}}
                <div class="justify-center text-center font-work-sans text-white">
                    Start a session by clicking create session below!
                </div>
                <div class="lg:space-x-4 justify-around text-center">
                    <button type="button" onclick="create_queue()"
                        class="lg:mb-0 mb-10 border-white text-white font-bold py-2 px-4 rounded-full w-44 border-2 hover:bg-green-spotify">
                        CREATE SESSION
                    </button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>