<div class="h-screen bg-gradient-to-r from-blue-dark to-blue-light">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="p-6 text-white">Logo + Text</div>
        </div>
        <div class="container">
            <div class="grid grid-cols-1 items-center justify-center content-center gap-y-8 px-3">
                {{#if errors}}
                <div class="mx-auto rounded-lg p-4 bg-red-main items-center justify-center">
                    <div class="font-incosolata text-3xl text-white mx-auto items-center justify-center">
                        {{errors}}
                    </div>
                </div>
                {{/if}}
                <div class="justify-center text-center font-incosolata text-white text-5xl">
                    Welcome to Music Sessions!
                </div>
                <div class="justify-center text-center font-work-sans text-white">
                    Welcome to Music Sessions! A platform where you can create 
                    collaborative queues at parties and gatherings! <br>To host a session,
                    click on CREATE SESSION. To join a session, click on JOIN A SESSION.<br>
                    You must have Spotify premium to use this service!
                </div>
                <div class="lg:space-x-4 justify-around text-center">
                    <a href="/join" class="">
                        <button type="button"
                            class="lg:mb-0 mb-10 border-white text-white font-bold py-2 px-4 rounded-full w-44 border-2 hover:bg-green-spotify">
                            JOIN A SESSION
                        </button>
                    </a>
                    <a href="/create" class="">
                        <button type="button"
                            class="lg:mb-0 mb-10 border-white text-white font-bold py-2 px-4 rounded-full w-44 border-2 hover:bg-green-spotify">
                            CREATE SESSION
                        </button>
                    </a>
                </div>
                {{#if session.connected_id}}
                    <div class="mx-auto text-center">
                        <div class="text-xl text-white mb-4">
                            You may already be connected to a session. Click below to rejoin.
                        </div>
                        <a href="/session/user/{{session.queue_id}}">
                            <button type="button"
                            class="lg:mb-0 mb-10 border-white text-white font-bold py-2 px-4 rounded-full w-44 border-2 hover:bg-red-main">
                            REJOIN SESSION
                        </button>
                        </a>
                    </div>    
                {{/if}} 
            </div>
        </div>
    </div>
{{>footer}}
</div>

