<div class="h-screen bg-gradient-to-r from-blue-dark to-blue-light">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="p-6 text-white">Logo + Text</div>
            <div class="p-6 text-white">
                <a href="/api/logout">Logout</a>
            </div>
        </div>
        <div class="container">
            <div class="grid grid-cols-1 items-center justify-center content-center gap-y-8">
                <div class="justify-center text-center font-incosolata text-white text-5xl">
                    Your Session
                </div>
                <div class="grid lg:grid-cols-3 items-center justify-center content-center gap-x-8">
                    <div class="mx-auto w-full h-full">
                        <div class="container rounded-lg bg-green-spotify w-full h-full">
                            <div class="font-inconsolata text-white text-4xl text-center mx-auto pt-6">
                                The Queue
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto">
                        <div class="ui grey font-inconsolata inverted medium header">
                            Search for songs
                        </div>
                        <div class="ui search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Search songs...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                     <div class="mx-auto w-full h-full">
                        <div class="container rounded-lg bg-green-spotify w-full h-full">
                            <div class="font-inconsolata text-white text-4xl text-center mx-auto pt-6">
                                Song Requests
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>