<div class="flex flex-wrap h-screen bg-gradient-to-r from-blue-dark to-blue-light">
	<a class="text-white ml-5 mt-5" href="/">
		Back
	</a>
	<div class="w-full flex h-screen place-items-center bg-gradient-to-r from-blue-dark to-blue-light">
		<div class="ml-6 lg:ml-40">
			<div clasName="flex justify-center place-items-center">
				<h1 class="text-5xl text-white">Join a Session</h1>
				<h4 class="texl-xl text-white">To join a session, enter the session code below</h4>
				<br />
				<div class="">
					<input type="text" class="px-2 text-white rounded-lg mb-10 py-2 bg-white bg-opacity-0 outline-white" />
					<br />
					<a href="/create" class="">
						<button type="button"
							class="lg:mb-0 mb-10 border-white text-white font-bold py-2 px-4 rounded-full w-44 border-2 hover:bg-green-spotify">
							JOIN SESSION
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>