<div class="flex flex-wrap h-screen bg-gradient-to-r from-blue-light to-blue-dark">
    <a class="text-white ml-5 mt-5" href="/">
        Back
    </a>
    <div class="w-full flex h-screen place-items-center bg-gradient-to-r from-blue-light to-blue-dark">
        <div class="ml-6 lg:ml-40">
            <div clasName="flex justify-center">
                <h1 class="text-5xl text-white">Placeholder</h1>
                <h4 class="texl-xl text-white">To create a session, please login with spotify</h4>
                <br />
                <div class="">
                    <a class="spotify-button px-10 py-5 rounded-full text-white bg-green-spotify">
                        Continue with Spotify
                    </a>
                </div>
		    </div>
        </div>
        {{!-- <img  class="hidden md:inline-flex" /> --}}
    </div>
</div>