<div class="flex flex-wrap h-screen bg-gradient-to-r from-blue-dark to-blue-light">
    <a class="text-white ml-5 mt-5" href="/">
        Back
    </a>
    <div class="w-full flex h-screen mt-20 bg-gradient-to-r from-blue-dark to-blue-light">
        <div class="mx-auto ml-10 md:ml-auto">
            <div clasName="flex justify-center">
                <h1 class="text-5xl text-white">Placeholder</h1>
                <h4 class="texl-xl text-white">To create a session, please login with spotify</h4>
                <br />
                <div class="">
                    <a href="/api/auth/spotify" class="">
                        <button type="button"
                            class="lg:mb-0 mb-10 border-white text-white font-bold py-2 px-4 rounded-full border-2 hover:bg-green-spotify">
                            CONTINUE WITH SPOTIFY
                        </button>
                    </a>
                </div>
		    </div>
        </div>
        {{!-- <img  class="hidden md:inline-flex" /> --}}
    </div>
</div>