<div class="h-screen bg-gradient-to-r from-indigo-500 to-purple-500">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="p-6 text-white">Logo + Text</div>
        </div>
        <div class="container">
            <div class="grid grid-cols-1 items-center justify-center content-center gap-y-8 px-3">
                <div class="justify-center text-center font-incosolata text-white text-5xl">
                    Welcome to Music Sessions!
                </div>
                <div class="justify-center text-center font-work-sans text-white">
                    Error 404: The page you are looking for was not found.
                </div>
                <div class="lg:space-x-4 justify-around text-center">
                    <a href="/" class="">
                        <button type="button"
                            class="lg:mb-0 mb-10 border-white text-white font-bold py-2 px-4 rounded-full w-44 border-2 hover:bg-green-spotify">
                            GO BACK HOME
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>